<html><head>
<link href='content.css' rel='stylesheet'/>
<script src="content.js"></script>
<style type="text/css">
body {font-family:{{normalFont}}}
</style>
</head><body class="{{theme}}">
{% if showford %}<div id='ford'></div>{% /if %}
<div id="title_section" class="{{fontClass}}">
{% if title %}
<div id='title'>{{title}}</div><div id='subtitle'>{{source}}　<span aria-hidden="true">{{ptime}}</span></div>
{% else%}
<div id='title'>此文章不存在</div><div id='subtitle'>　</div>
{% /if %}
</div>
<div id="body_section" class="{{fontClass}}">
{% if digest %}<p><div class='PRE'><span class='digest_tag'>导语</span>{{digest}}</div></p>{% /if %}
{{body}}
</div>
</body></html>
