<html><head>
    <link href='content.css' rel='stylesheet'/>
    <script src="content.js"></script>
    <style type="text/css">
        body {font-family:{{normalFont}}}
        </style>
    {% if _customcss %}<link href='{{_customcss}}' rel='stylesheet'/>{% /if %}
</head><body class="{{theme}}">
    {% if _customcss %}<div id="custom_template" aria-hidden="true"><div></div></div>{% /if %}
    {% if showford %}<div id='ford'></div>{% /if %}
    <div id="title_section" class="{{fontClass}}">
        {% if title %}
        <div id='title'>{{title}}</div><div id='subtitle'>{{source}}　<span aria-hidden="true">{{ptime}}</span></div>
        {% else%}
        <div id='title'>此文章不存在</div><div id='subtitle'>　</div>
        {% /if %}
    </div>
    <div id="body_section" class="{{fontClass}}" lang="{{_lang}}">
        {% if digest %}<p><div class='PRE'><span class='digest_tag'>导语</span>{{digest}}</div></p>{% /if %}
        {{body}}
        {% if ec %}<p align="right">（责任编辑：{{ec}}）</p>{% /if %}
    </div>
</body></html>

